.gitignore{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Complete Your Payment</h2>
    <form action="{{ callback_url }}" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="{{ key_id }}"
            data-amount="{{ amount }}"
            data-currency="{{ currency }}"
            data-order_id="{{ order_id }}"
            data-buttontext="Pay with Razorpay"
            data-name="SafarSmart"
            data-description="Add Money to Wallet"
            data-image="/static/images/logo.png"
            data-prefill.name="{{ request.user.username }}"
            data-prefill.email="{{ request.user.email }}"
            data-theme.color="#F37254"
        ></script>
        <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
</div>
{% endblock %}
